## Ejercicios con DataFrames ðŸ§€

In [16]:
import pandas as pd

datos_usuarios = pd.read_csv("tabla.csv", index_col=0)
diccionario = dict(datos_usuarios["Sex"].value_counts())
print(diccionario)
datos_usuarios

{'male': 3, 'female': 3}

             Pclass                Name     Sex  Age
PassengerId
1                 3     Mr. Owen Harris    male   22
2                 1   Mrs. John Bradley  female   38
3                 3         Miss. Laina  female   26
4                 1  Mrs. Jacques Heath  female   35
5                 3   Mr. William Henry    male   35
6                 3           Mr. James    male   45